#forums-container{
    background-color:#434343;
    border-color:#707070;
    border-style: solid;
    border-width: thin;
    height: 30px;
    overflow: hidden;
}

#forums-container-bottom{
    background-color: #363636;
    border-color:#707070;
    border-style: solid;
    border-width: thin;
    height:auto;
    margin-bottom: 5px;
}
#forums-container h4{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: 7px;
    font-weight: bold;
}

#forums-container p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-top: 7px;
    font-weight: bold;
}

#forums-container-bottom h4{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: 15px;
}

#forums-container-bottom p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: -17px;
    font-size: small;
}

#ForumCateName{
    float:left;
}

#ForumData{
    float:right;
}

#ForumCateName h4{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: 7px;
    font-weight: bold;
    display: inline-block;
}

#ForumData p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 12px;
    margin-top: 7px;
    font-weight: bold;
    display: inline-block;
}

#forum{
    display: flex;
}

#forum-icon {
    height: 50px;
    width: 50px;
    padding: 8px;
}

#forumTitle{
    -ms-flex-align: center;
}

#forumlink:link {
    color: white;
  }
  
  /* visited link */
#forumlink:visited {
color: white;
}

/* mouse over link */
#forumlink:hover {
color: lightslategray;
}

/* selected link */
#forumlink:active {
color: lightslategray;
}