#login-column{
    width: 90%;
    max-width: 1300px;
    display:inline-block;
}
#login-container{
    background-color:#434343;
    border-color:#707070;
    border-style: solid;
    border-width: thin;
    height: 30px;
}

#login-container-bottom{
    background-color: #363636;
    border-color:#707070;
    border-style: solid;
    border-width: thin;
    height:auto;
    margin-bottom: 5px;
}

#login-container p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: 7px;
    font-weight: bold;
}

#login-container-bottom h4{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    padding-left: 1em;
    padding-top: 1em;
    margin-top: -25px;
}
#login{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -25px;
}
/* Style all input fields */
label{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: auto;
}
input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Style the container for inputs */
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background-color: #363636;
    border-color:#707070;
    border-style: solid;
    border-width: thin;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  #message h3{
      color:white;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }
