
#profile-container{
    background-color:#434343;
    border-color:#b4a3a3;
    border-style: solid;
    border-width: thin;
    height: auto;
    width: 100%;
    max-width: 1300px;
}
#profile-flex{
    display:flex;
}

#profile-title-container{
    -ms-flex-align: center;
}

#profile-pfp-container{
    padding: 10px;
}
#profile-pfp {
    height: 128px;
    width: 128px;
    display: inline-block;
    border: 5px solid #707070;
}

#profile-container h1{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#profile-container h3{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
    margin-top: -15px;
}

#profile-container p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: -10px;
    padding: 1em;
}

#profile-container-bottom{
    background-color: #363636;
    border-color:#707070;
    border-style: solid;
    border-width: thin;
    height:auto;
    margin-bottom: 5px;
    width: 100%;
    max-width: 1300px;
}

#profile-container p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: 7px;
    font-weight: bold;
}

#profile-container-bottom h4{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    padding-left: 1em;
    padding-top: 1em;
    margin-top: -25px;
}

#role{
    padding: 3px;
    border-radius: 25%;
    text-align: left;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#lowerLeftColumn{
    max-width: 200px;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
}

#roleContainer{
    background-color:#434343;
    border-color:#b4a3a3;
    border-style: solid;
    border-width: thin;
    height: auto;
}
#roleContainer h3{
    color: white;
    text-align: center;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
#roleContainer hr{
    border-top: 1px solid #bbb;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -10px;
}